
*/.vs/*/FileContentIndex/f5436bef-9566-4b10-be16-f86670156004.vsidx
*/.vs/*/v17/Browse.VC.db
*/.vs/*/v17/Browse.VC.opendb
sum00/.vs/sum00/FileContentIndex/3476dd9f-b771-46e2-99d8-33be15d6a3ad.vsidx
Urare/.vs/Urare/FileContentIndex/d1b8c99c-b9ba-428d-9f5b-652eb3cc31d5.vsidx
.vs/CPP-Practice/FileContentIndex/86f53d11-3f2c-4d7d-ac07-092beec3c06c.vsidx
Urare/.vs/Urare/FileContentIndex/6aab80a4-6f1c-4156-a94e-75ffdc7ec969.vsidx
Urare/.vs/Urare/FileContentIndex/ef3344e6-3851-49d1-8c4e-dc31d2576a5d.vsidx
Scadere/.vs/Scadere/FileContentIndex/b62e633a-4aab-4947-8371-c3abf56ffc3b.vsidx
